<html>
  <head>
    <!-- Stylesheets in here -->
    <link rel="stylesheet" href="/stylesheets/practice-room.css">
    <script src="/javascripts/aframe-master.js"></script>
    <script src="/javascripts/aframe-physics-system.js"></script>
    <script src="/javascripts/aframe-extras.min.js"></script>
    
    <script src="/javascripts/networked-aframe.min.js"></script>
    <script src="/javascripts/super-hands.min.js"></script>
    <script src="/javascripts/tt-ball.js"></script>
  </head>
  <body>
    <script src="/javascripts/socket.io.min.js"></script>
    <script src="/javascripts/easyrtc.js"></script>
    <script src="/javascripts/adjust-height.js"></script>
    <script src="/javascripts/practice-room.js"></script>
    <a-scene id="game">
    <!-- <a-scene id="game" networked-scene=<%- '"room:' + roomName + '; debug: true; adapter:easyrtc; audio:true;"'%>> -->
      <a-assets>
        <img id="groundTexture" src="images/textures/hex_grid.png">
        <a-asset-item id="tt-table-model" src="/models/table_tennis_table.gltf"></a-asset-item>
        <a-asset-item id="tt-net-model" src="/models/table_tennis_net.gltf"></a-asset-item>
        <a-asset-item id="tt-racket-model" src="/models/table_tennis_racket.gltf"></a-asset-item>
        <template id="avatar-template">
          <a-sphere networked-audio-source="positional:false"></a-sphere>
       </template>
      </a-assets>
      <a-entity id="player" progressive-controls movement-controls networked="template:#player-template;attachTemplateToLocal:false;" spawn-in-circle="radius:3" wasd-controls>
        <a-entity id = "player-head" camera look-controls networked="template:#head-template;attachTemplateToLocal:false;">
            <a-sphere class="head"
              random-color
              visible="false"
            ></a-sphere>
        </a-entity>
        <a-entity id="rhand" class="right-controller">
        </a-entity>
        <a-entity id="lhand" class="left-controller">
        </a-entity>
      </a-entity>

      <a-entity class="tt-table" static-body="shape: box" grabbable gltf-model="#tt-table-model" scale = "0.6 1 0.6" position = "0 0.1 -2"></a-entity>
      <a-entity gltf-model="#tt-net-model" position = "0 0.1 -2" scale="0.6 1 1"></a-entity>

      <a-entity scale = "0.75 0.75 0.75" class="tt-racket" gltf-model="#tt-racket-model" position="0.5 1.5 -2.5" grabbable dynamic-body="shape:box; mass: 2"></a-entity>
      <a-entity scale = "0.75 0.75 0.75" class="tt-racket" gltf-model="#tt-racket-model" position="0.5 1.5 -2.5" grabbable dynamic-body="shape:box; mass: 2"></a-entity>
      <a-entity scale = "0.75 0.75 0.75" class="tt-racket" gltf-model="#tt-racket-model" position="-0.5 1.5 -1" grabbable dynamic-body="shape:box; mass: 2"></a-entity>
      <a-entity scale = "0.75 0.75 0.75" class="tt-racket" gltf-model="#tt-racket-model" position="-0.5 1.5 -1" grabbable dynamic-body="shape:box; mass: 2"></a-entity>

      <a-sphere class="tt-ball" dynamic-body="shape:sphere;" color="#ffa500" tt-ball scale="0.02 0.02 0.02" grabbable position="0 3 -2"></a-sphere>

      <a-plane id="ground" static-body src="#groundTexture" material="roughness: 0.6;" rotation="-90 0 0" width="30" height="30" repeat="23 20"></a-plane>

      <a-sky></a-sky>

    </a-scene>

    <script>
      // Define custom schema for syncing avatar color, set by random-color
      NAF.schemas.add({
        template: '#avatar-template',
        components: [
          'position',
          'rotation',
          {
            selector: '.head',
            component: 'material',
            property: 'color'
          }
        ]
      });

      function onConnect () {
        console.log("onConnect", new Date());
      }
    </script>

    <footer>
      
    </footer>
  </body>
</html>
